.container{
    display: flex;
    margin-top: 60px;
    padding-left: 17%;
    padding-right: 2%;

}
.main-content{
    width: 85%;
    padding-left: 20px;
}
@media (max-width: 900px) {
    .container{
        padding-left: 5%;
    }
    .main-content{
        width: 100%;
        padding-left: 0px;
    }
}